body {
    padding: 20px;
    text-align: center;
}
button {
    background-color: purple;
    height: 30px;
    border-radius: 7px;
    color: white;
}
button a{
    text-decoration: none;
    color: white;

}
